/* Author: Reginald Cole */
/* #224870 Indigo Dye
#84ACCE Carolina Blue
#D2E59E */

body {
    background-color: #84ACCE;
}

footer {
    text-align: center;
    display: block;
    background-color: #b4ceeb;
    box-shadow: 5px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em 2em;
}

/* Nav styles */
.topnav ul {
    display: grid;
    grid-gap: 10px;
    list-style-type: none;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
}

.topnav a {
    background-color:  #224870;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 5px;
}

.topnav a:hover {
    background-color: bisque;
}

/* Products styles */
.baits {
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color:#b4ceeb;
    box-shadow: 5px 10px 10px;
    padding: 1.5em 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.bait {
    border: black solid 2px;
    box-shadow: 5px 5px 5px;
}

.baitcont, .spools {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.spools img {
    max-width: 60%;
    box-shadow: 5px 5px 5px;
}

.baitimg {
    max-width: 100%;
}


header img{
    max-width: 100%;
}

/* Home page styles */
.basic {
    display: grid;
    grid-gap: 10px;
    background-color: #84ACCE;
    box-shadow: 5px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: repeat(2, 1fr);
}

.basic h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.basic li {
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.basic img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* media queries */
@media(max-width:600px){
    .topnav ul {
        grid-template-columns: 1fr;
    }

    .basic {
        grid-template-columns: 1fr;
    }

    .baits {
        grid-template-columns: 1fr;
    }
}